{
  "port": 8080,
  "staticAssets": "/your/static/assets",
  "staticClient": "../dsptw-client/build",
  "episode": 1,
  "presenterName": "Erika",
  "presenterCamera": "https://obs.ninja/?view=",
  "juryName": "Jerommeke",
  "juryCamera": "https://obs.ninja/?view=",
  "grandFinaleMode": false,
  "numberOfPlayers": 3
}
