{
  "port": 8080,
  "staticAssets": "./static",
  "staticClient": "../client/build",
  "episode": 1,
  "presenterName": "Erica",
  "presenterCamera": "https://vdo.ninja/?view=",
  "juryName": "Jerommeke",
  "juryCamera": "https://vdo.ninja/?view=",
  "grandFinaleMode": false
}
